

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    /* background-color :#F9F5E4; */
    background-size: cover;
    font-family: 'Montserrat';
    
}

nav {
  height: 10%;
}


/* CSS DU FORMULAIRE */

/* connexion css  */


.logo {
    margin: 0 auto;
    top: -35px;
    height: 70px;
    z-index: 1;
    justify-content: center;
    background-color: #DE8E4F;
    border-radius: 50px;
    position: relative;
}



/*form {
  background-color: #DE8E4F;
  border-radius: 50px;   
  align-self: center; 
  padding: 40px ;
  text-align: center;
  width: 35%;  
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;*/
  /* border: 5px solid white; */
  /* box-shadow: 10px 5px 5px black; 
}*/

/* FORMULAIRE CONNEXION & INSCRIPTION */
.form_log { 
  background-color: #DE8E4F;
  border-radius: 50px;   
  align-self: center; 
  text-align: center;
  width: 35%;  
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  }

legend {
  font-size: 50px;
  color: wh;
  font-family: 'Montserrat';
  justify-content: center;
  display: flex;
}

/* boutton formulaire */ 


#login, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;

}

#password, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white;  
  border: none; 
  cursor: pointer;
  /* float: left;
} */
}

#submit, button {
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 100px;
  background-color: white;  
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#submit:hover {
  color: #DE8E4F;
}

.rememberme {
  display: flex ;
  margin-top: 20px;
}


.formulaire {
 display: flex;
 justify-content: center;
}

/* inscription formualaire */ 

.inscription {
  display: flex;
 justify-content: center;
}

#input_prenom, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_nom, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_email, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_password, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_submit, button {
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 100px;
  background-color: white;  
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_submit:hover {
  color: #DE8E4F;
}

.logo-inscription {
  position: absolute;
    top: 5%;
    left: 48%;
    height: 70px;
    z-index: 1;
    justify-content: center;
    background-color: #DE8E4F;
    border-radius: 50px;
}
/*repsonsive*/ 

@media only screen and (max-width: 450px) {
  form{
    padding: 100%;
  }
}

/* ACCUEIL  */

.partie-droite {
  background-color: #F9F5E4;
  width: 50%;
  height: 100vh;
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.partie-droite a{
  justify-content: center;
  text-decoration: none;
   display: flex;
  font-size: 30px;
  border-radius: 50px;
  background-color: #DE8E4F;
  width: 280px;
  height: 80px;
  text-align: center;
  color: black;
  padding-top: 20px; 
  margin-top: 20px;
}

.partie-droite a:hover {
  color: #57BCA8;
}

.partie-gauche {
  background-color: #57BCA8;
  float: left;
  overflow: hidden;
  width: 50%;
  height: 100vh;

}


.partie-gauche h2{
  text-align: center;
  margin-top: 20px;
  font-size: 60px;
}

 /* PROFIL CSS  */

 /* .menu-gauche {
   background-color: #F9F5E4 ;
   width: 20%;   /*largeur*/  
   /* height: 100vh; /*hauteur*/ 
  /* float: left; */ 
  /* border-right: 5px solid;
  color: #57BCA8; */
 

 /* .profil {
  width: 60%;
  height: 100vh;
  background-color: white;
  float: left;
  border-right: 5px solid;
  border-color: #57BCA8

  
 } */

 /* .menu-droite {
  background-color: #F9F5E4 ;
  width: 20%;   /*largeur*/  
  /* height: 100vh; /*hauteur*/ 
  /* float: right;
 } */ 


 /* page 404 */ 
.error-page {
  margin: 80px;
  /* display: flex; */
  float: left;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}

 .error-page h1{
   color :#DE8E4F;
   font-size: 200px;
   padding: 10px;
   
 }

 .error-page a{
  background-color: #DE8E4F;
  font-size: 30px;
  border-radius: 50px;
  width: 280px;
  height: 80px;
  text-decoration: none;
  padding-top: 20px; 
  margin-top: 20px;
  display: flex;
  text-align: center;
 justify-content: center;
 color: black;
 padding-top: 20px;
 }

 .error-page h2{
    font-size: 23px;
    padding-bottom: 20px;
    font-weight: bold;
 }

 .error-page p {
   font-size: 20px;
 }


 .error-img img{
  position: relative;
  top: 900px;
  left: 34px;
 }

 .img{
  position: absolute;
  top: 27%;
  left: 52%;
  height: 300px;
  z-index: 1;
  justify-content: center; 
 }










/* MENU VERTICAL ROXANE  */

/* .vertical-menu {
  width: 20%; /* taille du menu */
  /* position: fixed;
} */


/* SEARCH BAR RECHERCHE */

/* .searchbar {
background-color: pink;
width: 20%;
height: 10%;
display:flex;
border-radius: 50px; 
  align-self: end;
  padding-left: 1%  ;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 20px;
} */






/* Océne code profil  */

/* la barre de naviagtion  */

.nav-bar {
  background-color: #56BCA7;
  display: flex;
  align-items: center;
  justify-content: center;
}
















.right-contener {
  background-color: wheat;
  float: right;
  height: 700px;
  width: 800px;
}

/* div avec les pseudos  */







/* LE NOUVEAU CSS DU PROFIL */

/* MENU PROFIL : Oceane  */

.menu-gauche {
  height: 100%;
  top:  0;
  left: 0;
  width: 300px;
  background-color: #FFF8E5;
  position: fixed;
  padding: 6px 14px;
  float: left;
  border-right: 6px solid black;
  float: left;
  
}

.menu-gauche .logo-content .logo {
  color: blueviolet;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  padding-top: 50px;
 
}



.logo-content .logo-menu .logo_name {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
  font-family: 'Montserrat';
}

.menu-gauche #btn {
  position: absolute;
  color: aqua;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  /* line-height: ; */
}

.menu-gauche ul {
  margin-top: 20px;
  
} 

.menu-gauche ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 40px 5px ;
  list-style: none;
  line-height: 10px;

}

.menu-gauche ul li a{
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.menu-gauche ul li a i{
 height: 50px;
 min-width: 50px;
 border-radius: 12px;
 line-height: 50px;
 text-align: center;
}

.menu-gauche ul li a:hover{
  color: aquamarine;
  background-color: azure;
}

/* .menu-gauche ul li input {
   color: black;
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0; 
   border-radius: 12px;
   outline: none;
   border: none;
   background-color: #56BCA7;
   padding-left: 50px;
   font-size: 18px;
   color: aqua;
}

.menu-gauche ul li .bx-search-alt {
   position: absolute;
   top: 5%;
   z-index: 99;
   color: aquamarine;
   font-size: 35px;
} */



/* PROFIL OCEANE  */

.profil {
   background-color: aqua;
   width: 100%;
   height: 1300px;
   overflow: hidden;
   float: right; 
}


