

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    /* background-color :#F9F5E4; */
    background-size: cover;
    font-family: 'Montserrat';
    
}

nav {
  height: 10%;
}


/* CSS DU FORMULAIRE */

/* connexion css  */


.logo {
    margin: 0 auto;
    top: -35px;
    height: 70px;
    z-index: 1;
    justify-content: center;
    background-color: #DE8E4F;
    border-radius: 50px;
    position: relative;
}



/*form {
  background-color: #DE8E4F;
  border-radius: 50px;   
  align-self: center; 
  padding: 40px ;
  text-align: center;
  width: 35%;  
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;*/
  /* border: 5px solid white; */
  /* box-shadow: 10px 5px 5px black; 
}*/

/* FORMULAIRE CONNEXION & INSCRIPTION */
.form_log { 
  background-color: #DE8E4F;
  border-radius: 50px;   
  align-self: center; 
  text-align: center;
  width: 35%;  
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  }

legend {
  font-size: 50px;
  color: wh;
  font-family: 'Montserrat';
  justify-content: center;
  display: flex;
}

/* boutton formulaire */ 


#login, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;

}

#password, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white;  
  border: none; 
  cursor: pointer;
  /* float: left;
} */
}

#submit, button {
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 100px;
  background-color: white;  
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#submit:hover {
  color: #DE8E4F;
}

.rememberme {
  display: flex ;
  margin-top: 20px;
}


.formulaire {
 display: flex;
 justify-content: center;
}

/* inscription formualaire */ 

.inscription {
  display: flex;
 justify-content: center;
}

#input_prenom, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_nom, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_email, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_password, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_submit, button {
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 100px;
  background-color: white;  
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_submit:hover {
  color: #DE8E4F;
}

.logo-inscription {
  position: absolute;
    top: 5%;
    left: 48%;
    height: 70px;
    z-index: 1;
    justify-content: center;
    background-color: #DE8E4F;
    border-radius: 50px;
}
/*repsonsive*/ 

@media only screen and (max-width: 450px) {
  form{
    padding: 100%;
  }
}

/* ACCUEIL  */

.partie-droite {
  background-color: #F9F5E4;
  width: 50%;
  height: 100vh;
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.partie-droite a{
  justify-content: center;
  text-decoration: none;
   display: flex;
  font-size: 30px;
  border-radius: 50px;
  background-color: #DE8E4F;
  width: 280px;
  height: 80px;
  text-align: center;
  color: black;
  padding-top: 20px; 
  margin-top: 20px;
}

.partie-droite a:hover {
  color: #57BCA8;
}

.partie-gauche {
  background-color: #57BCA8;
  float: left;
  overflow: hidden;
  width: 50%;
  height: 100vh;

}


.partie-gauche h2{
  text-align: center;
  margin-top: 20px;
  font-size: 60px;
}

 /* PROFIL CSS  */

 .menu-gauche {
   background-color: #F9F5E4 ;
   width: 20%;   /*largeur*/  
   height: 100vh; /*hauteur*/ 
  float: left;
  border-right: 5px solid;
  color: #57BCA8;
 }

 .profil {
  width: 60%;
  height: 100vh;
  background-color: white;
  float: left;
  border-right: 5px solid;
  border-color: #57BCA8

  
 }

 .menu-droite {
  background-color: #F9F5E4 ;
  width: 20%;   /*largeur*/  
  height: 100vh; /*hauteur*/ 
  float: right;
 }


 /* page 404 */ 

 .error-page h1{
   color :#DE8E4F;
   font-size: 200px;
   display: flex;
   justify-content: center;
 }


/* SEARCH BAR RECHERCHE */

.searchbar {
background-color: pink;
width: 20%;
height: 20%;
display:flex;
justify-content: center;
border-radius: 50px; 
  align-self: center; 
  padding: 2% ;
  text-align: center;
  align-items: center;
  float:right;

