

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    /* background-image: url(../img/1075221.jpg); */
    background-color: #F9F5E4;
    background-size: cover;
    font-family: 'Montserrat';
}


/* CSS DU FORMULAIRE */

/* connexion css  */

.logo {
 
  position: absolute;
    top: 23%;
    left: 48%;
    height: 70px;
    z-index: 1;
    justify-content: center;
    background-color: #DE8E4F;
    border-radius: 50px; 
}

form {
  background-color: #DE8E4F;
  border-radius: 50px;   
  align-self: center; 
  padding: 40px ;
  text-align: center;
  width: 35%;  
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;



  /* border: 5px solid white; */
  /* box-shadow: 10px 5px 5px black; */
}

legend {
  font-size: 50px;
  color: wh;
  font-family: 'Montserrat';
  justify-content: center;
  display: flex;
}

/* boutton formulaire */ 


#login, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;

}

#password, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white;  
  border: none; 
  cursor: pointer;
  /* float: left;
} */
}

#submit, button {
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 100px;
  background-color: white;  
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#submit:hover {
  color: #DE8E4F;
}

.rememberme {
  display: flex ;
  margin-top: 20px;
}


.formulaire {
 display: flex;
 justify-content: center;
}

/* inscription formualaire */ 

.inscription {
  display: flex;
 justify-content: center;
}

#input_prenom, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_nom, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_email, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_password, button {
  text-align: center;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  background-color: white; 
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_submit, button {
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 100px;
  background-color: white;  
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

#input_submit:hover {
  color: #DE8E4F;
}

.logo-inscription {
  position: absolute;
    top: 5%;
    left: 48%;
    height: 70px;
    z-index: 1;
    justify-content: center;
    background-color: #DE8E4F;
    border-radius: 50px;
}
@media only screen and (max-width: 450px) {
  form{
    padding: 100%;
  }
  .logo-inscription,.logo{
    
  }
}

/* MENU VERTICAL */

.vertical-menu {
  width: 20%; /* taille du menu */
}

.vertical-menu a {
  background-color: #867B67; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border-radius: 30px;
  margin-top: 20px;
  margin-right: 75%;
  text-align: center;
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}


